<div *ngIf="updateEnabled">
  Stock Code: <input #updateStockCode [value]="selectedStock.stockCode" /> Stock Name: <input #updateStockName [value]="selectedStock.name" />

  <button type="button" class="btn btn-warning" (click)="updateStock(updateStockCode.value, updateStockName.value)">UPDATE</button>
</div>
<div class="m-x-auto p-a-2 m-t-2 centerClass" style="width: 800px">
  <table class="table table-striped table-inverse table-hover table-sm center">
    <thead>
      <tr>
        <th>#</th>
        <th>OPERATION</th>
        <th>NAME </th>
        <th>STOCK CODE</th>
      </tr>
    </thead>
    <tr *ngFor="let stock of stocks">
      <td>{{stock.id}}</td>
      <td>
        <button type="button" (click)="loadDetails(stock)" class="btn btn-warning">UPDATE</button>
        <button type="button" (click)="deleteStock(stock.id)" class="btn btn-danger">DELETE</button>
      </td>
      <td>{{stock.name}}</td>
      <td>{{stock.stockCode}}</td>
    </tr>
  </table>
</div>
<hr/>
<h2>Add Stock</h2> Stock Code: <input #newStockCode /> Stock Name: <input #newName />

<button type="button" class="btn btn-primary" (click)="createStock(newStockCode.value, newName.value)"> CREATE </button>

<div class="jumbotron">
  <h1 class="display-3">Angular 2 Finance</h1>
  <p class="lead">Stocks, Bonds, Mutual Funds</p>
  <hr class="my-2">
  <p>A Simple Angular 2 finance web application</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Start</a>
  </p>
</div>
